<div class="page">
  <div class="container block-padding pt-0">
    <div class="row">
      <div class="col-lg-6 my-auto">
        <h3>Misiunea Noastră</h3>
        <p>
          Adăpostul Paradisul Pufos este dedicat salvării și reabilitării
          animalelor fără adăpost, abandonate sau maltratate.
        </p>
        <p>
          Scopul nostru este de a oferi un adăpost sigur și iubitor pentru
          animalele abandonate, de a facilita adopțiile responsabile și de a
          ușura procesul de adopție prin digitalizare și utilizarea
          platformei noastre online.
        </p>
        <ul class="custom ps-0">
          <li>Le oferim toată atenția de care au nevoie</li>
          <li>Le oferim hrana potrivită</li>
          <li>Le oferim un loc unde să nu se simtă ale nimănui</li>
        </ul>
        <!-- /ul -->
      </div>
      <!-- image -->
      <div class="col-lg-6">
        <img
          src="../../../assets/img/aboutUs.jpg"
          alt=""
          class="img-fluid border-irregular1"
          data-aos="zoom-in"
        />
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
  <div class="bg-light-custom block-padding">
    <div class="container">
      <div
        id="counter"
        class="align-items-center"
        style="display: flex; gap: 2rem; justify-content: center"
      >
        <!-- Counter -->
        <div class="col-xl-3 col-md-6">
          <div class="counter">
            <i class="counter-icon fa fa-users"></i>
            <!-- insert your final value on data-count= -->
            <div class="counter-value" data-count="1500">100+</div>
            <h3 class="title">Clienți Fericiți</h3>
          </div>
          <!-- /counter -->
        </div>
        <!-- /col-lg -->
        <!-- Counter -->

        <!-- /col-lg -->
        <!-- Counter -->
        <div class="col-xl-3 col-md-6">
          <div class="counter">
            <i class="counter-icon flaticon-dog-2"></i>
            <!-- insert your final value on data-count= -->
            <div class="counter-value" data-count="900">100+</div>
            <h3 class="title">Animale Adoptate</h3>
          </div>
          <!-- /counter -->
        </div>
        <!-- /col-lg -->
        <!-- Counter -->

        <!-- /col-lg -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /block-padding -->
</div>
