<!-- Start Team Section -->
<section id="team" class="container-fluid team">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 offset-md-2">
        <h3>Our <span>Team</span></h3>
        <p class="subtitle">meet our experts</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="team-member">
          <img src="assets/img/team1.jpg" alt="" class="img-fluid" />
          <div class="team-info">
            <h4>John Doe</h4>
            <p>Veterinarian</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <img src="assets/img/team2.jpg" alt="" class="img-fluid" />
          <div class="team-info">
            <h4>Jane Doe</h4>
            <p>Animal Trainer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <img src="assets/img/team3.jpg" alt="" class="img-fluid" />
          <div class="team-info">
            <h4>Jim Doe</h4>
            <p>Animal Caretaker</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>
<!-- End Team Section -->
