<footer class="text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <a class="navbar-brand" routerLink="x"
          ><i class="flaticon-dog-20"></i><span>Woof!</span></a
        >
        <p class="mt-3">
          Adăpostul Paradisul Pufos este dedicat salvării și reabilitării
          animalelor fără adăpost, abandonate sau maltratate.
        </p>
      </div>
      <!--/ col-lg -->
      <div class="col-lg-3">
        <h6><i class="fas fa-envelope margin-icon"></i>Contact</h6>
        <ul class="list-unstyled">
          <li>+40 759 356 009</li>
          <li>
            <a href="mailto:paradisulpufos@gmail.com"
              >paradisulpufos@gmail.com</a
            >
          </li>
        </ul>
        <!--/ul -->
      </div>
      <!--/ col-lg -->
      <div class="col-lg-3">
        <h6><i class="far fa-clock margin-icon"></i>Program</h6>
        <ul class="list-unstyled">
          <li>Luni-Vineri 9:00 - 22:00</li>
          <li>Sărbători - Închis</li>
          <li>Weekend - Închis</li>
        </ul>
        <!--/ul -->
      </div>
      <!--/ col-lg -->
    </div>
    <!--/ row-->

    <!--/ row -->
  </div>
  <!--/ container -->
  <!-- Go To Top Link -->
  <div class="d-none d-md-block">
    <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
  </div>
  <!--/page-scroll-->
</footer>
