<div class="page pb-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-1 h-50 card bg-secondary res-margin">
        <div class="contact-info text-light">
          <!-- contact-info-->
          <div class="text-light">
            <h5>Sustine-ne cauza!</h5>
            <p>
              Ajuta-ne sa gasim o familie pentru animalutele care nu au una!
            </p>

            <button class="btn btn-secondary" (click)="openDonationDialog()">
              Donează
            </button>
            <!-- contact icons-->
            <ul class="list-unstyled mt-5 list-contact">
              <li class="h7">
                <i class="fa fa-envelope margin-icon"></i
                ><a href="mailto:paradisulpufos@gmail.com"
                  >paradisulpufos@gmail.com</a
                >
              </li>
              <li class="h7">
                <i class="fa fa-phone margin-icon"></i>
                +40 759 356 009
              </li>
              <li class="h7">
                <i class="fa fa-map-marker margin-icon"></i>Sector 3
              </li>
            </ul>
            <!-- /list-->
          </div>
          <!-- /text-light -->
        </div>
        <!-- /contact-info-->
      </div>
    </div>
  </div>
</div>
