<div class="container block-padding pt-0 pb-0">
  <div class="col-lg-8 offset-lg-2 text-center">
    <h3>Animale Favorite</h3>
  </div>

  <div class="row mt-5">
    <ng-container *ngFor="let adopt of favoriteAdopts$ | async">
      <div class="adopt-card col-md-6 col-xl-3 res-margin">
        <div style="height: 600px" class="card bg-light-custom">
          <div class="thumbnail text-center">
            <!-- Image -->
            <img
              [src]="
                adopt.imageUrl || '../../../assets/img/adoption/default.jpg'
              "
              class="border-irregular1 img-fluid"
              style="height: 230px"
              alt="{{ adopt.name }}"
            />
            <div class="caption-adoption">
              <h6 class="adoption-header">{{ adopt.name }}</h6>
              <ul class="list-unstyled">
                <li><strong>Gen:</strong> {{ adopt.gender }}</li>
                <li>
                  <strong>Vaccinat: </strong>
                  {{ adopt.vaccinated ? "Yes" : "No" }}
                </li>
                <li><strong>Vârstă:</strong> {{ adopt.age }} years</li>
              </ul>
              <div class="text-center">
                <a
                  [routerLink]="['/adopt-single', adopt.id]"
                  class="btn btn-primary"
                  >Mai multe informații</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
